@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'sans serif';
  --text-xs: 11px;
  --text-sm: 13px;
  --text-md: 16px;
  --text-lg: 18px;
}

@layer components {

  .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.glass-panel {
  @apply bg-linear-to-br from-white/80 to-white/40 backdrop-blur-2xl border border-white/50 inset-shadow-sm inset-shadow-white shadow-2xl shadow-slate-200/30;
}

.surface-100 {
  @apply rounded-xl bg-white/40 border border-gray-500/20 p-2 px-3;
}

.subtitle {
  @apply text-xs text-black/40 uppercase font-semibold;
}
}

